.row{
    padding: 20px;
    background-color:#04faee;
}
.contenedor{
    width: auto;
}
.parte1, .parte2{
    display:inline-block;
    text-align:justify;
}

.img-proyecto{
    box-shadow: 10px 10px 30px #04faee;
    box-shadow: ejeX ejeY difumasion coral;
}