.row {
    padding: 20px;
}

div{
    background: #04faee;
    text-align: center;
}
/*Estilo de la foto de Perfil*/
@media (min-width:576px){
    #fotodeperfil{
        position: absolute;
        width:15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(106, 129, 156);
        left:3%;
        top: 600px;
    }
}
@media (max-width:575px){
    #fotodeperfil{
        position: absolute;
        width:30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px rgb(112, 38, 38);
        left:30%;
        top: 1000px;
    }
}
/*etiqueta nombre*/
#nombre{
    font-weight: bold;
    margin-top: 10%;
}